@import 'libs/vars.sass'
@import 'libs/bootstrap-reboot.min.css'
@import 'libs/bootstrap-grid.min.css'
@import 'libs/cursorhover.sass'
@import 'libs/magneticbutton.sass'
@import 'libs/scroll.css'

header
  height: 12vh
  width : 100%
  nav
    background: $color_navbar
    height    : 100%
    div.navbar
      height: 100%
      .row
        height: 100%
    div.navbutton
      height         : 100%
      display        : flex
      justify-content: center
      align-items    : center
      text-align     : center

button.navbutton
  display   : block
  width     : 100%
  height    : 100%
  background: rgb(0, 0, 0, 0)
  border    : 0

div.main.container-flex
  display: flex
  width: 100%
  height: 88vh
  div.main
    width: 50%
    height: 100%
  div.row
    height: 100%
    div
      display: flex
      justify-content: center

div.carousel_starter
  margin-top: 10px
  margin-bottom: 10px
  height: calc(88vh - 20px)
  background: $color_carousel_starter

