
@font-face {
    font-family: 'sweet_sans_prolight';
    src: url('/fonts/sweetsansprolight-webfont.eot');
    src: url('/fonts/sweetsansprolight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sweetsansprolight-webfont.woff2') format('woff2'),
         url('/fonts/sweetsansprolight-webfont.woff') format('woff'),
         url('/fonts/sweetsansprolight-webfont.ttf') format('truetype'),
         url('/fonts/sweetsansprolight-webfont.svg#sweet_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
