---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import ImageZoomed from '../components/ImageZoomed.astro';
---

<Layout>
    <main>
        <Slider />
    </main>
    <ImageZoomed />
    <script src="../utils/lazysizes.js"></script>
</Layout>
