<header class="header">
    <nav class="navbar">
        <div class="container-fluid navbar">
            <div class="row navbar__row">
                <div class="col-6 col-sm-9" style="padding-right: 0; padding-left: 0">
                    <div class="row navbar__row">
                        <div class = "col-12 col-sm-4 navsection navbar__navsection navbar_mobile-pos_left">
                            <div class="navbar__logo logo">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 836 836.2" id="icon_logo-svg">
                                    <path d="M350.2 816.2c-118.6 0-327-26.5-340.2-105.9C9.5 692 24 678 31.7 662a389.2 389.2 0 0 0 33.4-76.4c39.3-126.3 17.3-197.9 46.8-261.8C160.8 203.8 285 146 403.6 170.5a254.5 254.5 0 0 1 192.8 190.6c7.3 33.3 8.5 66.1 9.9 100.2 6 48.4 14.1 95 30.8 140.6 26 70.6 52.7 84.8 46.3 114-17.4 79.7-213.9 100.3-333.2 100.3Zm-189.4-306C148.3 697.6 344.8 796.6 474 679c52.4-49 63.8-111.9 61.4-167.6-.5-18 1.9-45.5-5.3-52.7-8-8.5-21-5.9-31.9-7.2-22-3-44.3-8.3-64.6-18-81.7-39-69.5-94.6-109.4-45.9a187.4 187.4 0 0 1-102.8 59.8c-64.2 11.4-60.8-4.8-60.6 62.9ZM675.7 293c-46.2-1 1.8-96.8-132.5-123.3a20.3 20.3 0 0 1 2.4-38.6c65.5-13.4 91.6-33 104.6-96 3.5-14.3 8.6-25.3 23.2-25.1 16.1 0 19.7 16 22.5 27.3 16.2 72 50.3 79.6 110.6 95 17.9 8.4 12.1 30.1-3.3 36.8-141.1 38.7-81 120-127.5 123.9Z" />
                                </svg>
                                <img alt="logo icon" id="navbar__logo-fallback">
                            </div>
                            <h1 class="navbar__heading navbar_mobile-pos_title logo"><span class="navbar__navtext">RINA VEREMEJCHIK</span></h1>
                        </div>
                        <div class = "col-12 col-sm-4 navsection navbar__navsection navbar_mobile-pos_left"><h2 class = "navbar__heading navbar_mobile-pos_speciality"><span class="navbar__navtext">RETOUCHER</span></h2></div>
                        <div class = "col-12 col-sm-4 navsection navbar__navsection navbar_mobile-pos_left"><h2 class = "navbar__heading navbar_mobile-pos_location"><span class="navbar__navtext">WORLDWIDE</span></h2></div>
                    </div>
                </div>
                <div class = "col-6 col-sm-3 navsection navbar__navsection navbar_mobile-pos_right">
                    <div class="navbar__menu">
                      <a class="hover-wholeline-animation swipe-contact navbar__navtext active">CONTACTS</a>
                      <span class="navbar__navtext navbar__comma">,  </span>
                      <a class="hover-wholeline-animation swipe-works navbar__navtext">WORKS</a>
                      <span class="navbar__navtext navbar__comma">,  </span>
                      <a class="hover-wholeline-animation swipe-about navbar__navtext">ABOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<style lang="sass">
  @import '../styles/vars'

  .navbar__heading
    display: flex
    align-content: center

  .header
    height: 12%
    width: 100%
    overflow: hidden

  .navbar
    background: $color_navbar
    height: 100%

  .navbar__row
    height: 100%

  .navbar__navsection
    height         : 100%
    display        : flex
    justify-content: center
    align-items    : center
    text-align     : center

  .navbar__navsection
    display: flex
    align-content: center

  .navbar__logo
    cursor: pointer
    width: 9%
    padding-bottom: 1%
    margin-right: 2%
    display: flex
    flex-direction: column
    justify-content: center
    stroke-width: 2.5em
    fill: none
    stroke: $color_text
    stroke-miterlimit: 10
    @media (max-width : 576px)
      display: none

  #navbar__logo-fallback
    display: none
    height: 100%
    width: 100%
    @media (max-width : 576px)
      display: none

  .navbar__menu
    display: flex
    white-space: pre-wrap
    @media (max-width : 576px)
      flex-direction: column
    
  .navbar__comma
    @media (max-width : 576px)
      display: none

  .navbar_mobile-pos_right
    @media (max-width : 576px)
      justify-content: flex-end
  .navbar_mobile-pos_left
    @media (max-width : 576px)
      margin-left: 15px
      justify-content: flex-start
      height: 33%
  .navbar_mobile-pos_title
    @media (max-width : 576px)
      position: absolute
      bottom: 0px
  .navbar_mobile-pos_location
    @media (max-width : 576px)
      position: absolute
      top: 0px

  .navbar__navtext
    color          : $color_text
    font-weight    : 600
    font-size      : 1.2vmax 
    @media (max-width : 576px)
      font-size      : 1.9vmax 
</style>

<script>
  import $ from 'jquery';
  
  $(".logo").on("click", function(e) {
    window.location.reload();
  });
</script>